@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 140px;
  background-color: #7c3aed;
  color: white;
  padding: 20px;
}

#main-link {
  float: right;
  margin-bottom: 40px;
}

#main-link a {
  color: white;
}

#main-link li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 5px;
  margin: 10px;
  font-size: 18px;
}

p {
  text-align: center;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

label {
  display: block;
  font-size: 18px;
  text-align: center;
  color: #7c3aed;
  padding: 10px;
}

input {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 10px;
  border: 1px solid #7c3aed;
  padding: 10px;
}

button {
  display: block;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #7c3aed;
  border: none;
  border-radius: 5px;
  color: white;
}

#output-div {
  text-align: center;
  margin: 25px;
  font-size: 18px;
}